
:root {
  --azul: #3498db;
  --verde: #2ecc71;
  --rojo: #e74c3c;
  --dark: #2c3e50;
  --light: #ecf0f1;
}


body {
  background-color: #f5f7fa;
  color: var(--dark);
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.todo-contenedor {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

/* IZQUIERDA - PROCESOS/ALGORITMOS */
#tabla-izquierda{
  background-color: var(--rojo);
  border-radius: 10px;
  border: 2px solid black;
}


#agregar-procesos-fila-1{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 10px;
}


#agregar-procesos-fila-2{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 10px; 
  margin-top: 10px;
}


#agregar-prioridad{
  margin-top: 15px;
  display: none;
}

#agregar-quantum{
  margin-top: 15px;
  display: none;
}


#boton-agregar-proceso{
   margin-top: 15px;
}


/*COSAS VARIADAS*/
.form-procesos{
  margin-top: 15px;
  border: 1px solid black;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
}

#color-input{
  height: 55%;
  width: 50%;
  padding: 1px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}


/* DERECHA - SIMULACION */
#tabla-derecha{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black;
}