
:root {
  --azul: #3498db;
  --verde: #2ecc71;
  --rojo: #e74c3c;
  --dark: #2c3e50;
  --light: #ecf0f1;
}


body {
  background-color: #f5f7fa;
  color: var(--dark);
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.todo-contenedor {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#tabla-izquierda{
  background-color: var(--rojo);
  border-radius: 10px;
}

#quantum{
  display: none;
}

#agregar-procesos-fila-1{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 10px;
}


#agregar-procesos-fila-2{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 10px; 
  margin-top: 10px;
}


#agregar-prioridad{
  margin-top: 15px;
  display: none;
}

#boton-agregar-proceso{
   margin-top: 15px;
}