<!DOCTYPE html>
<html>
<head>
    <title>Simulador de Planificación</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id = "panel-procesos">
        <div id="tabla-container">
            <table id="tabla-procesos">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tiempo de llegada</th>
                    <th>Ráfaga</th>
                    <th>Prioridad</th>
                </tr>
                </thead>    
                <tbody>
                    <tr>
                        <th>Proceso 1</th>
                        <th>10ms</th>
                        <th>100ms</th>
                        <th>0</th>
                    </tr>
                    <tr>
                        <th>Proceso 2</th>
                        <th>2ms</th>
                        <th>10ms</th>
                        <th>0</th>
                    </tr>
                    <tr>
                        <th>Proceso 3</th>
                        <th>4ms</th>
                        <th>2ms</th>
                        <th>0</th>
                    </tr>
                     <tr>
                        <th>Proceso 1</th>
                        <th>10ms</th>
                        <th>100ms</th>
                        <th>0</th>
                    </tr>
                    <tr>
                        <th>Proceso 2</th>
                        <th>2ms</th>
                        <th>10ms</th>
                        <th>0</th>
                    </tr>
                    <tr>
                        <th>Proceso 3</th>
                        <th>4ms</th>
                        <th>2ms</th>
                        <th>0</th>
                    </tr>
                     <tr>
                        <th>Proceso 1</th>
                        <th>10ms</th>
                        <th>100ms</th>
                        <th>0</th>
                    </tr>
                    <tr>
                        <th>Proceso 2</th>
                        <th>2ms</th>
                        <th>10ms</th>
                        <th>0</th>
                    </tr>
                    <tr>
                        <th>Proceso 3</th>
                        <th>4ms</th>
                        <th>2ms</th>
                        <th>0</th>
                    </tr>
                     <tr>
                        <th>Proceso 1</th>
                        <th>10ms</th>
                        <th>100ms</th>
                        <th>0</th>
                    </tr>
                    <tr>
                        <th>Proceso 2</th>
                        <th>2ms</th>
                        <th>10ms</th>
                        <th>0</th>
                    </tr>
                    <tr>
                        <th>Proceso 3</th>
                        <th>4ms</th>
                        <th>2ms</th>
                        <th>0</th>
                    </tr>
                </tbody>
            </table>
            </div>


        <div id = "container-botones-procesos">
            <div id = "agregar">
                <button>Agregar</button>
                <input type="text", placeholder="ID">
                <input type="text", placeholder="Tiempo de Inicio">
                <input type="text", placeholder="Duracion">
                <input type="text", placeholder="Prioridad">
            </div>
            <div id = "eliminar">
                <button>Eliminar</button>
                <input type="text", placeholder="ID">
            </div>
            <div id = "modificar">
                <button>Modificar</button>
                <input type="search">
                <input type="text", placeholder="Tiempo de Inicio">
                <input type="text", placeholder="Duracion">
                <input type="text", placeholder="Prioridad">
            </div>
        </div>
        
        <div id = "marco-boton-aceptar">
            <button id = "boton-aceptar">Iniciar</button>
        </div>
        
    </div>

    <div id = "tabla-algoritmos">
        <div id = "titulo">
            <h1>Algoritmos de planificación</h1>
        </div>
        
        <div id = "panel-botones">
            <button class = "botones"> First Come, First Served</button>
            <button class = "botones"> Shorest Job First</button>
            <button class = "botones"> Por Prioridad </button>
            <button class = "botones"> Round Robin </button>
            <button class = "botones"> Colas Multiples de Nivel </button>
        </div>
    </div>
    
</body>
</html>
