<!DOCTYPE html>
<html>
<head>
    <title>Simulador de Planificación</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js" defer></script>
</head>
<body>
    <div class = "todo-contenedor">
        <div id = "tabla-izquierda">

           <h2>Algoritmos de planificación</h2>
            
            <div class="form-procesos">
                <label for="algoritmo">Algoritmo de Planificación:</label>
                <select id="algoritmos">
                    <option value="fcfs">First-Come, First-Served (FCFS)</option>
                    <option value="sjf">Shortest Job First (SJF)</option>
                    <option value="srtf">Shortest Remaining Time First (SRTF)</option>
                    <option value="rr">Round Robin (RR)</option>
                    <option value="priority">Por Prioridad</option>
                    <option value="mlq">Colas Múltiples</option>
                </select>
            </div>
            

            <div class="form-procesos">
                <h3>Agregar Proceso</h3>
                <div id = "agregar-procesos-fila-1">
                    <div>
                        <label for="input-id-proceso">Nombre:</label>   
                        <input type="text" id="input-id-proceso" placeholder="P1">
                    </div>
                    <div>
                        <label for="color-input">Color:</label>
                        <input type="color" id="color-input" value="#3418db">
                    </div>
                </div>
                
                <div id = "agregar-procesos-fila-2">
                    <div>
                        <label for="input-llegada-proceso">Tiempo de Llegada:</label>
                        <input type="number" id="input-llegada-proceso" min="0" value="0">
                    </div>
                    <div>
                        <label for="input-duracion-proceso">Duración:</label> 
                        <input type="number" id="input-duracion-proceso" min="1" value="3">
                    </div>
                </div>
                
                <div id="agregar-prioridad">
                    <label for="prioridad">Prioridad (menor = mas prioridad):</label>
                    <input type="number" id = "prioridad" min ="1" value="1">
                </div>

                <div id="agregar-quantum">
                    <label for="quantum">Quantum:</label>
                    <input type="number" id="quantum" min="1" value="2">
                </div>
                
                <button id="boton-agregar-proceso">Agregar Proceso</button>
            </div>

            <div class="lista-procesos">
                <h3>Procesos Agregados</h3>
                <div id="procesos-container">
                    <!-- aqui van los procesos -->
                </div>
            </div>
            
            <div id="botones">
                <button id="boton-iniciar">Iniciar Simulación</button>
                <button id="boton-parar">Pausar</button>
                <button id="boton-reiniciar">Reiniciar</button>
            </div>
        </div>

        <div id = "tabla-derecha">
            <h2>Simulación</h2> 
            <div class="diagrama-gantt">
                <div class="diagrama-encabezado" id="encabezado-gantt"></div>
                <div class="diagrama-cuerpo" id="cuerpo-gantt"></div>
            </div>
            
            <h2>Tabla de Resultados Finales</h2>
            <table class="tabla-resultados">
                <thead>
                    <tr>
                        <th>Proceso</th>
                        <th>Llegada</th>
                        <th>Duración</th>
                        <th>Prioridad</th>
                        <th>Finalización</th>
                        <th>T. de Espera</th>
                        <th>T. de Retorno</th>
                    </tr>
                </thead>
                <tbody id="cuerpo-tabla-resultados">
                </tbody>
            </table>
            
            <div class="contenedor-estadisticas">
                <div class="tarjeta-estadistica">
                    <div class="valor-estadistica" id="espera-promedio">0</div>
                    <div class="etiqueta-estadistica">Espera Promedio</div>
                </div>
                <div class="tarjeta-estadistica">
                    <div class="valor-estadistica" id="retorno-promedio">0</div>
                    <div class="etiqueta-estadistica">Retorno Promedio</div>
                </div>
            </div>
        </div>

</body>
</html>
