<!DOCTYPE html>
<html>
<head>
    <title>Simulador de Planificación</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id = "central">
        <div id = "titulo">
            <h1>Algoritmos de planificación</h1>
        </div>
        
        <div id = "panel-botones">
            <button class = "botones"> First Come, First Served</button>
            <button class = "botones"> Shorest Job First</button>
            <button class = "botones"> Por Prioridad </button>
            <button class = "botones"> Round Robin </button>
            <button class = "botones"> Colas Multiples de Nivel </button>
        </div>
    </div>
    
</body>
</html>
